body {
    background-color: #f2e5d5;
    overflow-x: hidden;
}
.sidebar {
    background-color: #ddad27;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    width: 175px;
}

.sidebar h2 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px;
}
.sidebar a {
    color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar a i {
    min-width: 30px;
    text-align: center;
    font-size: 1.1rem;
}

.sidebar a.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.sidebar a:hover {
    background-color: #f2e5d5;
    border-radius: 5px;
    color: #ddad27;
}

/* Student Dashboard */

.content {
    margin-left: 250px;
    padding: 20px;
}

/* Student Appointment */

.badge-upcoming {
    background-color: #d4edda;
    color: #155724;
}
.badge-completed {
    background-color: #f8d7da;
    color: #721c24;
}

/* Student Ticket */

.badge-open {
    background-color: #d4edda;
    color: #155724;
}
.badge-closed {
    background-color: #f8d7da;
    color: #721c24;
}

/* Media Queries */

.mobile-nav {
    display: none;
    background-color: #ddad27;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    align-items: center;
}

.mobile-nav h2 {
    color: white;
    margin: 0 0 0 10px;
    font-size: 1.2rem;
}

.menu-toggle {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 10px;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        height: 100%;
        width: 220px;
    }
    .sidebar h2 {
        font-size: 1.2rem;
    }
    .sidebar.active {
        transform: translateX(0);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    .mobile-nav {
        display: flex;
    }
    main {
        margin-top: 60px;
    }
    .content {
        margin-left: 250px;
        padding: 20px;
    }
}